<header class="header">
  <form class="search-form" id="search-form">
    <div class="'container">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="search">Search</button>
    </div>
    <div class="suggestions">
      For example
      <a class="raised-suggestion" value="cats">🐱 cats</a>
      ,
      <a class="raised-suggestion" value="bunny">🐰 bunnies</a>
      or
      <a class="raised-suggestion" value="baby animal">🐣 baby animals</a>
    </div>
  </form>
</header>
<main class="main">
  <div class="gallery">
    <!-- Картки зображень -->
  </div>
</main>
<footer class="footer">
  <button type="button" class="load-more">
    <span class="label">Load more</span>
  </button>
</footer>
